.header-container{
    height: 15%;
    display: flex;
}
.logotipo{
    width: 10%;
    height: 100%;
}
    .img-logotipo{
        height: 100%;
        width: 100%;
    }
.titulo{
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .titulo-farmacia{
        font-size: 68px;
        font-family: 'font-site';
        color: var(--cor-4);
    }

.vazio{
    height: 100%;
    width: 40%;
}

.sections{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    .local,.loja,.quem-somos,.senha{
        font-size: 30px;
        font-family: 'font-site';
        color: var(--cor-4);
        border: 0;
        background-color: white;
        cursor: pointer;
    }